
/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300..500;1,300..500&display=swap');


$font-family-sans-serif: Raleway, sans-serif;

$presentation-font-size-root: 50px;
$presentation-h1-font-size: 2.5em;
$presentation-h2-font-size: 1.5em;
$presentation-h3-font-size: 1.5em;
$presentation-h4-font-size: 1.3em;